<section class="{{ nota.tipo }}">
  <button id="pin"><img src="../../assets/img/pin.svg" alt=""></button>
  <button id="createNote">Criar</button>
  <form>
    <input type="text" placeholder="Título" id="title">
    <hr>
    <input type="text" placeholder="Criar uma nota..." id="create">
  </form>
  <div class="actions">
    <p>{{ nota.conteudo }}</p>
    <img src="../../assets/img/remind.svg" alt="remin">
    <img src="../../assets/img/person_add.svg" alt="">
    <img src="../../assets/img/archive.svg" alt="">
    <img src="../../assets/img/vert.svg" alt="">
  </div>
</section>
