<section class="{{ nota.tipo }}">
  <button id="pin"><img src="../../assets/img/pin.svg" alt=""></button>
  <button id="createNote">Criar</button>
  <form [ngClass]="tamanhoNota()">
    <p><span class="textarea" role="textbox" id="title" contenteditable></span></p>
    <hr>
    <p><span class="textarea" role="textbox" id="create" contenteditable></span></p>
  </form>
  <div class="actions">
    <p>{{ nota.conteudo }}</p>
    <img src="../../assets/img/remind.svg" alt="remin">
    <img src="../../assets/img/person_add.svg" alt="">
    <img src="../../assets/img/archive.svg" alt="">
    <img src="../../assets/img/vert.svg" alt="">
  </div>
</section>
